:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842c2;
  --color-secondary: #04D361;
  --color-secondary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --colr-small-info: #C1BCCC;
}

input,
button,
textarea {
  /* font: 500 1.6rem Poppins; */
  font-weight: 500;
  font-family: Poppins;
  color: var(--color-text-base);
}

a {
  text-decoration: none;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

.logo {
  height: 30px;
  width: 142px;
}

.nav-container-fluid {
  padding: 20px 20px;
  color: #fff;
}

.container-fluid {
  width: 1040px;
}

.container-fluid .my-navbar-brand {
  width: 45%;
}

.my-button-sale {
  font-size: 35px;
}

.my-button-search {
  color: white;
  font-weight: lighter;
  background: linear-gradient(180deg, --color-primary-dark 47%, white 87%);
}

.my-button-search:hover {
  color: white;
  background: linear-gradient(180deg, --color-primary-dark 47%, white 87%);
}
