:root {
  --color-text-base: #6A6180;
}

body {
  background-color: #f5f5f5;
}

input,
button,
textarea {
  font: 500 1.6rem Poppins;
  font-weight: 500;
  font-family: Poppins;
  color: var(--color-text-base);
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Header */

header {
  border-bottom: 1px solid #fbbf00;
  background-color: rgba(230,230,240,0.7);
}

.my-bg {
  background-color: rgba(255,255,255,0.95);
}

.logoSvg {
  height: 54px;
  width: 54px;
}

.logo {
  height: 30px;
  width: 142px;
}

.my-nav .nav-link {
  font-size: 16px;
}

.my-input-search {
  font-size: 16px;
}

.my-button-search {
  color: white;
  font-size: 16px;
  margin-left: 5px;
  font-weight: lighter;
}

/* Cards */
.my-card {
  width: 300px;
}

.description {
  height: 50px;
}